.nav-back {
	background: linear-gradient(-45deg, #00b3d3, #10cc48, #bacf00, #d523d5);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    height: 7px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-link{
    color: aquamarine;
}